{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="card bg-dark text-white" style="margin-top: 50px;">
  <img src="{% static 'img/rsue_home.jpg' %}" class="card-img" alt="...">
  <div class="card-img-overlay d-flex flex-column justify-content-end">
    <h3 class="card-title text-uppercase fw-bolder text-center text-shadow">Видеохостинг ростовского государственного экономического университета (РИНХ)</h3>
    <h4 class="card-text fw-bolder text-center text-shadow">Предназначин для публикации обучающих видеороликов, а также видеоотчетов с различных мерепория, конференций, соревнований.</h4>
  </div>
</div> 
      
<div class="container">
  <div class="row my-4">

    {% for video in all_videos %}
    <div class="col-3">

      <a href="{% url 'watch_video' video.id %}" style="text-decoration: none;">
        <img src="{% static video.thumbnail.url %}" class="w-100">
      </a>
      <a href="{% url 'watch_video' video.id %}" style="text-decoration: none;">
        <h6>{{video.title}}</h6>  
      </a>
      <span class="text-muted">{{video.video_views.all.count}} views • {{video.pub_date}}</span>

    </div>
    {% endfor %}
  <hr>
</div>
{% endblock %}