{% extends 'base.html' %}
{% load static %}

{% block body %}
<!--Profile Image and Name-->
<div class="container my-4">
  <div class="row" style="margin-top: 70px;">
    <div class="col-3">
      <img src="{% static user_data.profile_pic.url %}" class="img-thumbnail" style="width: 150px;height: 200px;"> 
    </div>
    <div class="col-9">
      <dl class="row">
        <dd class="col-sm-12"><h2>{{session_obj.first_name}} {{session_obj.last_name}}</h2></dd>

        <dt class="col-sm-2">Subscribers :</dt>
        <dd class="col-sm-10"><span class="text-muted" id="count">{{user_data.subscribers.count}}</span></dd>

        <dt class="col-sm-2">Описание :</dt>
        <dd class="col-sm-10">{{user_data.about}}</dd>

        <dt class="col-sm-2">Email :</dt>
        <dd class="col-sm-10"><a href="mailto:{{session_obj.email}}">{{session_obj.email}}</a></dd>
      </dl>
    </div>
  </div>
  <!--End of Profile Image and Name-->

  <hr align="right" size="3" color="#0000dd" />

  <div class="row my-4">
    <div class="row">
      <div class="col-3">
        <h5 class="mb-1">Категории видео</h5>
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-all-list" data-bs-toggle="list" href="#list-all" role="tab" aria-controls="list-all">Все видео</a>
          {% if sci %}
          <a class="list-group-item list-group-item-action" id="list-technology-list" data-bs-toggle="list" href="#list-technology" role="tab" aria-controls="list-technology">Science & Technology</a>
          {% endif %}
          {% if blogs %}
          <a class="list-group-item list-group-item-action" id="list-fashion-list" data-bs-toggle="list" href="#list-fashion" role="tab" aria-controls="list-fashion">Fashion</a>
          {% endif %}
          {% if food %}
          <a class="list-group-item list-group-item-action" id="list-food-list" data-bs-toggle="list" href="#list-food" role="tab" aria-controls="list-food">Food</a>
          {% endif %}
          {% if edu %}
          <a class="list-group-item list-group-item-action" id="list-education-list" data-bs-toggle="list" href="#list-education" role="tab" aria-controls="list-education">Education</a>
          {% endif %}
          {% if fashion %}
          <a class="list-group-item list-group-item-action" id="list-blogs-list" data-bs-toggle="list" href="#list-blogs" role="tab" aria-controls="list-blogs">Blogs</a>
          {% endif %}
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-all" role="tabpanel" aria-labelledby="list-all-list">
            <h4>Все загруженные видео</h4>
            {% for v in videos %}
            <div class="col-3">
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" style="width: 100%;" class="img-thumbnail"></a>
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h6>{{v.title}}</h6></a>
              <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
            </div>
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="list-technology" role="tabpanel" aria-labelledby="list-technology-list">
            <h4>Science & Technology</h4>
            {% for v in sci %}
            <div class="col-3">
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" style="width: 100%;" class="img-thumbnail"></a>
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h6>{{v.title}}</h6></a>
              <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
            </div>
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="list-fashion" role="tabpanel" aria-labelledby="list-fashion-list">
            <h4 class="text-primary">Fashion</h4>
            {% for v in fashion %}
            <div class="col-3">
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" class="img-thumbnail w-75"></a>
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h4>{{v.title}}</h4></a>
              <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
            </div>
            {% endfor %}  
          </div>
          <div class="tab-pane fade" id="list-food" role="tabpanel" aria-labelledby="list-food-list">
            <h4 class="text-primary">Food</h4>
            {% for v in food%}
            <div class="col-3">
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" class="img-thumbnail w-75"></a>
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h6>{{v.title}}</h6></a>
              <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
            </div>
            {% endfor %}   
          </div>
          <div class="tab-pane fade" id="list-education" role="tabpanel" aria-labelledby="list-education-list">
            <h4 class="text-primary">Education</h4>
            {% for v in edu%}
            <div class="col-3">
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" class="img-thumbnail w-75"></a>
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h6>{{v.title}}</h6></a>
              <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
            </div>
            {% endfor %}   
          </div>
          <div class="tab-pane fade" id="list-blogs" role="tabpanel" aria-labelledby="list-blogs-list">
            <h4 class="text-primary">Blogs</h4>
            {% for v in blogs %}
            <div class="col-3">
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" style="width: 100%;" class="img-thumbnail"></a>
              <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h6>{{v.title}}</h6></a>
              <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var btn = $('#sub_btn');
var count = $('#count');  
// btn.text('Subscribe');
btn.on('click', function(event){
  event.preventDefault();

  $.ajax({
    type: 'GET',
    url: '{% url "add_subscriber" session_obj.username %}',
    dataType: 'json',
    success: function(data){
      if(data.is_subscribed)
      {
          // alert(data.is_subscribed);
          btn.text('Subscribe');
          count.text(data.viewer_obj);
          console.log(data.viewer_obj);
        }
        else
        {
         // alert(data.is_subscribed); 
         btn.text('Unsubscribe');
         count.text(data.viewer_obj);
         console.log(data.viewer_obj);
       }
     }

   });
});
</script>
{% endblock %}